[package]
name = "simulator"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Space telescope optical and sensor simulation"
repository.workspace = true
license.workspace = true

[dependencies]
starfield = "0.1.2" # Star catalog functionality
nalgebra = "0.32" # Linear algebra
image = "0.24" # Image processing
ndarray = { version = "0.15", features = [
    "rayon",
] } # Multidimensional arrays with parallel computing
rayon = "1.7" # Parallel computing
num-traits = "0.2" # Numeric traits for generic math
float-cmp = "0.9" # Approximate floating point comparisons
once_cell = "1.19" # Lazy static initialization
resvg = { version = "0.45.0", features = ["text"] } # SVG rendering library
tiny-skia = "0.11" # Rendering backend for resvg
usvg = "0.45.0" # SVG parser for resvg
thiserror = "1.0" # Error handling
clap = { version = "4.5", features = [
    "derive",
] } # Command line argument parsing
test_helpers = { path = "../test_helpers" }
viz = { path = "../viz" }

rand = "0.8"
rand_core = "0.6"
rand_distr = "0.4"
indicatif = "0.17"                                           # Progress bars

plotters = "0.3"                                             # Plotting library

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] } # Benchmarking
approx = "0.5"                                               # Approximate floating point comparisons
tempfile = "3.10"                                            # Temporary file handling
