name: Doctests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  doctest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Rust
      uses: ./.github/actions/setup
      with:
        install-deps: 'true'
        setup-cache: 'true'
    
    - name: Run doctests
      run: cargo test --doc